<html lang="en">
   <!-- Head Section-->
   <head>
        <% include partials/page/head.ejs %>
        <link href="/stylesheets/stockpage.css" rel="stylesheet">
     </head>
  <body>
    <!-- Header -->
    <% include partials/page/header.ejs %>
    <main role="main">
    
            <section class="pageheader">
                <div class="container">
                    <div class="headerwrap">
                        <div class="pageheading">
                        <h1>Available Cars</h1>
                        </div>
                    </div>
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li class="active">STOCK</li>
                    </ul>
                </div>
            </section>
        <section class="pagelisting">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 order-lg-3 order-md-3">
                        <div class="result-sorting-wrapper">
                            <div class="sorting-count">
                                <p>1 - 8 <span>of 50 Listings</span></p>
                            </div>
                            <div class="result-sorting-by">
                                <p>Sort by:</p>
                                <form action="#" method="post">
                                <div class="form-group select sorting-select">
                                    <select class="form-control ">
                                    <option>Price (low to high)</option>
                                    <option>$100 to $500</option>
                                    <option>$500 to $1000</option>
                                    <option>$1000 to $1500</option>
                                    <option>$1500 to $2000</option>
                                    </select>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="product-listing">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="product-img col-md-4"> <a href="#">
                                                <img src="../Images/bmw_emw_m3_diski_serie.jpg" class="img-fluid" alt="Image"> </a>
                                            </div>
                                            <div class="product-content col-md-8" >
                                                <h5><a href="#">BMW M3, V6, ABS, Diski Serie</a></h5>
                                                <p class="listprice">$90,000</p>
                                                <ul>
                                                <li><i class="fa fa-road" aria-hidden="true"></i>0,000 km</li>
                                                <li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 miles</li>
                                                <li><i class="fa fa-user" aria-hidden="true"></i>5 seats</li>
                                                <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 model</li>
                                                <li><i class="fa fa-car" aria-hidden="true"></i>Diesel</li>
                                                <li><i class="fa fa-superpowers" aria-hidden="true"></i>143 kW</li>
                                                </ul>
                                                <a href="#" class="btn btn-primary">View Details 
                                                    <span class="angle_arrow">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="product-listing">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="product-img col-md-4"> <a href="#">
                                                <img src="../Images/range_rover_2016.jpg" class="img-fluid" alt="Image"> </a>
                                        </div>
                                        <div class="product-content col-md-8" >
                                            <h5><a href="#">Range Rover, V6, 2016</a></h5>
                                            <p class="listprice">$90,000</p>
                                            <ul>
                                            <li><i class="fa fa-road" aria-hidden="true"></i>0,000 km</li>
                                            <li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 miles</li>
                                            <li><i class="fa fa-user" aria-hidden="true"></i>5 seats</li>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 model</li>
                                            <li><i class="fa fa-car" aria-hidden="true"></i>Diesel</li>
                                            <li><i class="fa fa-superpowers" aria-hidden="true"></i>143 kW</li>
                                            </ul>
                                            <a href="#" class="btn btn-primary">View Details 
                                                <span class="angle_arrow">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="product-listing">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="product-img col-md-4"> <a href="#">
                                            <img src="../Images/jaguar_f_type_r.jpg" class="img-fluid" alt="Image"> </a>
                                        </div>
                                        <div class="product-content col-md-8" >
                                            <h5><a href="#">Jaguar F, V6, ABS, Diski Serie</a></h5>
                                            <p class="listprice">$90,000</p>
                                            <ul>
                                            <li><i class="fa fa-road" aria-hidden="true"></i>0,000 km</li>
                                            <li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 miles</li>
                                            <li><i class="fa fa-user" aria-hidden="true"></i>5 seats</li>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 model</li>
                                            <li><i class="fa fa-car" aria-hidden="true"></i>Diesel</li>
                                            <li><i class="fa fa-superpowers" aria-hidden="true"></i>143 kW</li>
                                            </ul>
                                            <a href="#" class="btn btn-primary">View Details 
                                                <span class="angle_arrow">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="product-listing">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="product-img col-md-4"> <a href="#">
                                                <img src="../Images/lamborghini_2016.jpg" class="img-fluid" alt="Image"> </a>
                                            </div>
                                            <div class="product-content col-md-8" >
                                                <h5><a href="#">Lamborghini, V8, ABS, 2016</a></h5>
                                                <p class="listprice">$90,000</p>
                                                <ul>
                                                <li><i class="fa fa-road" aria-hidden="true"></i>0,000 km</li>
                                                <li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 miles</li>
                                                <li><i class="fa fa-user" aria-hidden="true"></i>5 seats</li>
                                                <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 model</li>
                                                <li><i class="fa fa-car" aria-hidden="true"></i>Diesel</li>
                                                <li><i class="fa fa-superpowers" aria-hidden="true"></i>143 kW</li>
                                                </ul>
                                                <a href="#" class="btn btn-primary">View Details 
                                                    <span class="angle_arrow">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="product-listing">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="product-img col-md-4"> <a href="#">
                                                <img src="../Images/mclaren_650S.jpg" class="img-fluid" alt="Image"> </a>
                                            </div>
                                            <div class="product-content col-md-8" >
                                                <h5><a href="#">McLaren 650S, V6, ABS, Diski Serie</a></h5>
                                                <p class="listprice">$90,000</p>
                                                <ul>
                                                <li><i class="fa fa-road" aria-hidden="true"></i>0,000 km</li>
                                                <li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 miles</li>
                                                <li><i class="fa fa-user" aria-hidden="true"></i>5 seats</li>
                                                <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 model</li>
                                                <li><i class="fa fa-car" aria-hidden="true"></i>Diesel</li>
                                                <li><i class="fa fa-superpowers" aria-hidden="true"></i>143 kW</li>
                                                </ul>
                                                <a href="#" class="btn btn-primary">View Details 
                                                    <span class="angle_arrow">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="product-listing">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="product-img col-md-4"> <a href="#">
                                                <img src="../Images/porsche_cayen_cast.jpg" class="img-fluid" alt="Image"> </a>
                                            </div>
                                            <div class="product-content col-md-8" >
                                                <h5><a href="#">Porsche Cayen, V8, ABS, 2015</a></h5>
                                                <p class="listprice">$90,000</p>
                                                <ul>
                                                <li><i class="fa fa-road" aria-hidden="true"></i>0,000 km</li>
                                                <li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 miles</li>
                                                <li><i class="fa fa-user" aria-hidden="true"></i>5 seats</li>
                                                <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 model</li>
                                                <li><i class="fa fa-car" aria-hidden="true"></i>Diesel</li>
                                                <li><i class="fa fa-superpowers" aria-hidden="true"></i>143 kW</li>
                                                </ul>
                                                <a href="#" class="btn btn-primary">View Details 
                                                    <span class="angle_arrow">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="pagination">
                                <ul>
                                  <li class="current">1</li>
                                  <li><a href="#">2</a></li>
                                  <li><a href="#">3</a></li>
                                  <li><a href="#">4</a></li>
                                  <li><a href="#">5</a></li>
                                </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-pull-9 col-md-pull-9 pl-1">
                        <section id="search-section" class="gray-bg col-xs-12 col-sm-12">
                                <% include partials/page/quicksearch.ejs %>
                        </section>
                        <div class="  col-xs-12 col-sm-12 brands_list">
                            <h3>CAR BRANDS</h3>
                            <ul>
                                <li><a href="#" >Aston Martin (3)</a></li>
                                <li><a href="#">Audi (4)</a></li>
                                <li><a href="#">Bentley (8)</a></li>
                                <li><a href="#">BMW (12)</a></li>
                                <li><a href="#">Cadillac (47)</a></li>
                                <li><a href="#">Ferrari (6)</a></li>
                                <li><a href="#">Ford (1)</a></li>
                                <li><a href="#">GMC (0)</a></li>
                                <li><a href="#">Jaguar (1)</a></li>
                                <li><a href="#">Lamborghini (0)</a></li>
                                <li><a href="#">Land Rover (34)</a></li>
                                <li><a href="#">Lexus (0)</a></li>
                                <li><a href="#">Maserati (10)</a></li>
                                <li><a href="#">Mercedes-Benz (15)</a></li>
                                <li><a href="#">Mini (0)</a></li>
                                <li><a href="#">Nissan (0)</a></li>
                                <li><a href="#">Porsche (5)</a></li>
                                <li><a href="#">Rolls Royce (3)</a></li>
                                <li><a href="#">Toyota (1)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <% include partials/page/footer.ejs %>
   </main>
<div id="back-top" class="back-top"> 
    <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> 
</div>
<!-- Script Section-->
<% include partials/page/scriptdefaults.ejs %>
</body>
</html>