<div class="footer-top">
    <div class="container">
        <div class="bg-gray">
            <div class="row">
                <!-- Company info -->
                <div class="col-xs-12 col-sm-12  col-md-4">
                    <div class="heading-1">
                        <h3>Company Info</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp incidunt ut .</p>
                    <ul class="list-default">
                        <li><i class="fa fa-map-marker"></i>20/F Green Road, Dhanmondi, Dhaka</li>
                        <li><a href="tel:01686813774"><i class="fa fa-phone"></i>0123-456-789</a></li>
                        <li><i class="fa fa-envelope-o"></i>Support@htmlcs.com</li>
                    </ul>
                </div>
                <!-- Newsletter -->
                <div class="col-xs-12 col-sm-12  col-md-4">
                    <div class="newsletter text-left">
                        <div class="heading-1">
                            <h3>Newsletter</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp incidunt ut </p>
                        <form>
                            <div class="form-group">
                                <input class="form-control form-item" id="Email1" placeholder="Email" type="email">
                            </div>
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </form>
                    </div>
                </div>

                 <!-- Opening Hours -->
                <div class="col-xs-12 col-sm-12  col-md-4">
                    <div class="heading-1">
                            <h3>Opening Hours</h3>
                    </div>
                    <div class="textwidget">
                        <ul class="list-default">
                            <li><span class="icon"><i class="icon-clock"></i></span>Saturday<span class="pull-right">9 am - 9 PM </span></li>
                            <li><span class="icon"><i class="icon-clock"></i></span>Sunday<span class="pull-right">9 am - 9 PM</span></li>
                            <li><span class="icon"><i class="icon-clock"></i></span>Monday<span class="pull-right">9 am - 9 PM</span></li>
                            <li><span class="icon"><i class="icon-clock"></i></span>Tuesday<span class="pull-right">9 am - 9 PM</span></li>
                            <li><span class="icon"><i class="icon-clock"></i></span>Wednesday<span class="pull-right">9 am - 9 PM</span></li>
                            <li><span class="icon"><i class="icon-clock"></i></span>Thursday<span class="pull-right">9 am - 9 PM</span></li>
                            <li><span class="icon"><i class="icon-clock"></i></span>Friday<span class="pull-right">12 pm - 8 PM</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer-bottom bg-site">
<div class="container">
   <div >
    <p class="float-right"><a href="#">Back to top</a></p>
    <p style="margin-bottom: 0;">© 2018-2019 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
   </div>
</div>
</footer>