
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/javascripts/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/javascripts/OwlCarousel2-develop/dist/assets/owl.carousel.css" rel="stylesheet">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link  href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
