<header class="navbar-dark">
    <div class="top-header d-none d-md-block">
            <div class="container ">
                <div class="row">
                  <div class="col-sm-12 ">
                      <ul class="list-inline float-right">
                          <li>
                              <a href="tel:+55-417-634-7071"><i class="fa fa-phone"></i>+55 4XX-634-7071</a>
                          </li>
                          <li>
                              <a href="mailto:info@themevessel.com">
                                  <i class="fa fa-envelope-o"></i>info@themevessel.com
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="fa fa-map-marker"></i>20/F Green Road, Dhanmondi, Dhaka</a>
                          </li>
                      </ul>
                  </div>
                </div>
            </div>
          </div>
<div class="container ">
        <nav class="navbar navbar-expand-md ">
            <a class="navbar-brand" href="/">CAR WORLD
                <i class="fa fa-car" aria-hidden="true"></i>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li id="index" class="nav-item ">
                    <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li id="stock" class="nav-item">
                    <a class="nav-link" href="/stock">STOCK</a>
                </li>
                <li id="about" class="nav-item">
                    <a class="nav-link" href="/about">ABOUT</a>
                </li>
                <li id="contact" class="nav-item">
                    <a class="nav-link" href="/contact">CONTACT US</a>
                </li>
                </ul>
            </div>
        </nav>
</div>
 
</header>